<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OligoAnalyzerSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="OligoAnalyzerSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.idtdna.com/AnalyzerService/AnalyzerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="OligoAnalyzerSoap"
                contract="IDTService.OligoAnalyzerSoap" name="OligoAnalyzerSoap" />
            <endpoint address="http://www.idtdna.com/AnalyzerService/AnalyzerService.asmx"
                binding="customBinding" bindingConfiguration="OligoAnalyzerSoap12"
                contract="IDTService.OligoAnalyzerSoap" name="OligoAnalyzerSoap12" />
        </client>
    </system.serviceModel>
</configuration>